<%- include("./layout/main.ejs") -%>

<body>
    <%- include("./layout/nav.ejs") -%>
    <h1>Edit Your Post</h1>
    <form action="/blogs/<%=blog.id%>?_method=PATCH" method="post">
        <label for="title" class="label">Title:</label> <br>
        <input type="text" name="title" value= <%= blog.title %>> <br>

        <label for="blog_content">Blog Content:</label> <br>
        <textarea name="blog_content"> <%= blog.blog_content %> </textarea> <br>

        <button type="submit"> Resubmit Blog </button>
    </form> 
 </body>
 </html>