<%- include("./layout/main.ejs") -%>

<body>
    <%- include("./layout/form-nav.ejs") -%>
    <div class="ui raised very padded text container segment" style="margin-top: 150px;">
    <h1 class="ui centered header">Edit Your Blog</h1>
    <form class="ui form" action="/blogs/<%=blog.id%>?_method=PATCH" method="post">
        <div class="field">
            <div class="ui">
        <label class="ui label" for="title" class="label">Title:</label> <br>
        <input type="text" name="title" value= <%= blog.title %>> <br>
            </div>
        </div>
        <div class="field">
            <div class="ui">
        <label class="ui label" for="blog_content">Blog Content:</label> <br>
        <textarea name="blog_content"> <%= blog.blog_content %> </textarea> <br>
            </div>
        </div>
        <button class="fluid ui black button"type="submit"> Resubmit Blog </button>
    </form>
    </div>
 </body>
 <%- include("./layout/script-login.ejs") -%>
 </html>