<%- include("./layout/main.ejs") -%>
<body>
    
  <%- include("./layout/nav.ejs") -%>
    <div>
        <h3>Recent posts</h3>
        <ul id="findPost">
          <% for(const post of allPosts){ %>
            <li>
                <img src="https://avatar.oxro.io/avatar.svg?name=<%= post.first_name %>+<%= post.last_name %>&caps=3&bold=true" style="width: 80px; height: 80px; border-radius: 50%;">
                <h2><%= post.user_name %></h2>
                <h1><%= post.mood %></h1>
                <p><%= post.post_content %></p>
            </li>
          <% } %>
        </ul>
    </div>
    <div>
          <h3>Recent blogs</h3>
          <ul id="findBlog">
            <% for(const blog of allBlogs){ %>
              <li>
                  <img src="https://avatar.oxro.io/avatar.svg?name=<%= blog.first_name %>+<%= blog.last_name %>&caps=3&bold=true" style="width: 80px; height: 80px; border-radius: 50%;">
                  <h2><%= blog.user_name %></h2>
                  <h1><%= blog.title %></h1>
                  <p> <%= blog.blog_content %></p>
              </li>
            <% } %>
          </ul>
          </div>
        <div>
            <a href="/logout">Logout</a>
        </div>
</body>
<%- include("./layout/script.ejs") -%>
</html>