<%- include("./layout/main.ejs") -%>
<body>
    
  <%- include("./layout/nav.ejs") -%>

  <div style="margin-top: 250px;">
      <h2 class="ui centered header">Recent posts</h2>
      <ul id="findPost" style="list-style-type: none;">
        <% for(const post of allPosts){ %>
          <li>
            <div class="ui raised very padded text container segment">
              <div class="ui"></div>
                <img class="ui avatar image" src="https://avatar.oxro.io/avatar.svg?name=<%= post.first_name %>+<%= post.last_name %>&caps=1&bold=true" style="width: 80px; height: 80px; border-radius: 50%;">
                <span class="ui header"><%= post.user_name %></span>
                <hr>
                <h1><%= post.mood %></h1>
                <p><%= post.post_content %></p>
            </div>
          </li>
          <br>
          <% } %>
        </ul>
    </div>
    <h2 class="ui centered header">Recent blogs</h2>
    <div>
      <ul id="findBlog" style="list-style-type: none;">
        <% for(const blog of allBlogs){ %>
          <li>
              <div class="ui raised very padded text container segment">
                  <img class="ui avatar image" src="https://avatar.oxro.io/avatar.svg?name=<%= blog.first_name %>+<%= blog.last_name %>&caps=1&bold=true" style="width: 80px; height: 80px; border-radius: 50%;">
                  <span class="ui header"><%= blog.user_name %></span>
                  <hr>
                  <h1><%= blog.title %></h1>
                  <p> <%= blog.blog_content %></p>
                </div>
              </li>
              <br>
            <% } %>
          </ul>
          </div>
</body>
<%- include("./layout/script.ejs") -%>
</html>