<%- include("./layout/main.ejs") -%>
<body>
    
    <%- include("./layout/nav.ejs") -%>
    <div>
        <h1>Music Section</h1>
    </div>
    <div>
        <h3>Posts</h3>
        <ul>
          <% for(const post of posts){ %>
            <li>
                <img src="https://avatar.oxro.io/avatar.svg?name=P+Ost&caps=3&bold=true" style="width: 80px; height: 80px; border-radius: 50%;">
                <h1> Mood: <%= post.mood %></h1>
                <p> <%= post.post_content %></p>
                <a href="/posts/<%=post.id%>/edit">Edit Post</a>
            </li>
          <% } %>
        </ul>
        </div>
        <div>
            <h3>Recent blogs</h3>
            <ul>
              <% for(const blog of blogs){ %>
                <li>
                    <img src="https://avatar.oxro.io/avatar.svg?name=B+Log&caps=3&bold=true" style="width: 80px; height: 80px; border-radius: 50%;">
                    <h1><%= blog.title %></h1>
                    <p> <%= blog.blog_content %></p>
                    <a href="/blogs/<%=blog.id%>/edit">Edit Blog</a>
                </li>
              <% } %>
            </ul>
            </div>  
</body>
</html>