<%- include("./layout/main.ejs") -%>
<body>
  <nav>
    <ul>
        <li>
            <a>Hamburger</a>
            <ul>
                <a href="/blogs/new"><li>Create Blog</li></a>
                <a href="/posts/new"><li>Create Post</li></a>
                <a href="#"><li>My Playlist</li></a>
                <a href="/explore"><li>Explore Page</li></a>
                <a href="/logout"><li>Logout</li></a>
            </ul>
        </li>
        <li> <a href= "<%= LinkTo %>"><h1><%= title %></h1></a> </li>
        <li>
            <form id="search" action="">
                <input id="search-input" type="search" name="search-bar" placeholder="Search">
            </form>
        </li>
        <li>
            <a href="/profile/<%= id %>"><img src="https://avatar.oxro.io/avatar.svg?name=Profile+Image&caps=3&bold=true" style="width: 80px; height: 80px; border-radius: 50%;"></a>
        </li>
        <li>
            <form action="">
                <label for="toggle-light-dark">light/dark mode</label>
                <input type="checkbox" name="toggle-light-dark">
            </form>
        </li>
      </ul>
</nav>
    <div>
        <h1>Music Section</h1>
    </div>
    <div>
        <h3>Posts</h3>
        <ul id="findPost">
          <% for(const post of posts){ %>
            <li>
                <img src="https://avatar.oxro.io/avatar.svg?name=P+Ost&caps=3&bold=true" style="width: 80px; height: 80px; border-radius: 50%;">
                <h1> Mood: <%= post.mood %></h1>
                <p> <%= post.post_content %></p>
                <a href="/posts/<%=post.id%>/edit">Edit Post</a>
                <form action="/posts/<%=post.id%>?_method=DELETE" method="post">
                    <button type="submit">DELETE POST?</button>
                </form>
            </li>
          <% } %>
        </ul>
        </div>
        <div>
            <h3>Recent blogs</h3>
            <ul id="findBlog">
              <% for(const blog of blogs){ %>
                <li>
                    <img src="https://avatar.oxro.io/avatar.svg?name=B+Log&caps=3&bold=true" style="width: 80px; height: 80px; border-radius: 50%;">
                    <h1><%= blog.title %></h1>
                    <p> <%= blog.blog_content %></p>
                    <a href="/blogs/<%=blog.id%>/edit">Edit Blog</a>
                    <form action="/blogs/<%=blog.id%>?_method=DELETE" method="post">
                        <button type="submit">DELETE BLOG?</button>
                    </form>
                </li>
              <% } %>
            </ul>
            </div>  
</body>
<%- include("./layout/script.ejs") -%>
</html>